@using Delete.ClassLibrary1;
@model News;
@{
	ViewData["Title"] = "Добавление Новости";
}
<h1>Добавление Новости</h1>
<br />
<form asp-action="CreateNews" asp-controller="Newses" enctype="multipart/form-data">


	<div class="form-group">
		<label asp-for=Image class="control-label">Фото</label>
		<p>
		<input name="Image" type="file" class="form-control" />
		</p>
	</div>
	<div class="form-group">
		<label asp-for=Name class="control-label">Название</label>
		<input type="text" asp-for=Name class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Description" class="control-label">Описание</label>
		<input type="text" asp-for="Description" class="form-control" />
	</div>

	<div class="form-group" style="margin-top:10px">
		<input type="submit" value="Отправить" class="btn btn-info" />
	</div>
</form>