



<div style="margin-top: 50px; display:flex;" class="text-center">
    <a asp-controller="Autification" asp-action="Registration" style="position: absolute; margin-left: 85%; background: white; border: 0px"><img src="~/Image/pngwing 1 (1).png" /></a>
    <a asp-controller="Home" asp-action="Index" class="Logotip">IStorE</a>

</div>

<div class="Menu">
    <button class="ButtonL">Новости</button>
    <button class="ButtonC">Каталог</button>
    <button class="ButtonR">О нас</button>
</div>

<div class="Poloska"></div>


<p style="font-size: 40px; text-align:center; margin-top:100px; margin-bottom: 45px;">История нашего магазина</p>

<div style="display: flex; align-items:center; justify-content:center">
    <p style="width: 400px; text-align: center; margin-right: 150px; font-size: 20px;">Наш магазин открылся в 2017 году в городе Москва. Наш магазин продаёт только оригинальную продукцию Apple (iPhone). В 2019 мы открылись ещё в нескольких городах нашей страны: Новосибирск, Ставрополь, Краснодар, Волгоград. Также мы предоставляем оригинальную гарантию смартфона и гарантийный ремонт.</p>
    <img  style="height:300px; width: 400px" src="~/Image/IStorE1 1.png">
</div>

<div style="display: flex; align-items:center; justify-content:center; margin-top:100px;">
    <img style="height:400px; width: 600px; margin-right: 60px;" src="~/Image/image 1 (1).png">
    <p style="width: 400px; text-align: center; font-size: 20px;">С тех пор как мы открылись ни один наш клиент не остался не довольным своей покупкой или приобретённой услугой в нашем магазине. Наш магазин имеет планы на расширение. Мы хотим начать открываться в странах СНГ.</p>
</div>

<p style="font-size: 40px; text-align:center; margin-top:150px; margin-bottom: 45px;">Наша экспертиза</p>

<p style="width:800px; text-align:center; font-size: 25px; margin-right:auto; margin-left:auto;">По данным нашей экспертизы, текущий рекорд продаж среди всех поколений фирменных смартфонов удерживают модели iPhone 13 и iPhone 13 Pro с показателем в 300 тыс. проданных устройств в наших магазинах. Таким цифрам, как утверждают наши эксперты, гаджеты обязаны внушительной (по меркам 2022-го) диагональю экрана: 6,7 дюйма у базовой модели и 5,5 дюйма. Представленный годом позже iPhone 14 получил аналогичный размер дисплея, и разошёлся тиражом чуть менее 125 тыс. экземпляров. Таким образом, сумма отгрузок смартфонов 14-ой серии превысила 350 тыс. устройств.</p>

<div style="display: flex; align-items:center; justify-content:center; margin-top: 60px;">
<img class="Gimg" src="~/Image/Group 29.png"/>
</div>
<div style="display: flex; align-items:center; justify-content:center;">
    <p style="font-size: 50px; text-align:center; margin-top:150px; margin-bottom: 45px;">Ждём вас в магазине </p>
    <p style="font-size: 50px; font-family:Arial; text-align:center; font-weight: bold; margin-top: 128px; margin-left:16px;"> IStorE</p>
</div>
<div style="display: flex; align-items:center; justify-content:center; margin-top: 60px;">
    <img class="GimgS" src="~/Image/image 5 (4).png" />
</div>
