<div style="margin-top: 50px; display:flex;" class="text-center">
    <a hidden="@(User.Identity.IsAuthenticated ? true : false)" asp-controller="Autification" asp-action="Registration" asp-area="" style="position: absolute; margin-left: 85%; background: white; border: 0px"><img src="~/Image/pngwing 1 (1).png" /></a>
    <a hidden="@(User.Identity.IsAuthenticated ? false : true)" asp-controller="Autification" asp-action="Account" asp-area="" style="position: absolute; margin-left: 85%; background: white; border: 0px"><img src="~/Image/pngwing 1 (1).png" /></a>
    <h1 class="Logotip">IStorE</h1>

</div>

<div class="Menu">
    <a asp-controller="Newses" asp-action="VseNews" class="ButtonL">Новости</a>
    <a asp-controller="Catalog" asp-action="VsePhone" class="ButtonC">Каталог</a>
    <a asp-controller="Home" asp-action="ONas" class="ButtonR">О нас</a>
</div>

<div class="Poloska"></div>
<div style="margin-left:auto; margin-right:auto; height:600px;"> 
    <h2 class="align-content-center" style="margin-top: 70px; margin-left: auto; margin-right: auto; text-align:center;">Оформление прошло успешно</h2>
    

    <div class="text-center" style="margin-top: 30px;">
        <a asp-controller="Home" asp-action="Index" style="font-weight: normal;display: block; margin:0 auto;" class="ButtonC">OK</a>
    </div>
</div>
